.custom-input::placeholder {
  color: white !important;
  opacity: 0.7;
}

.custom-modal .ant-modal-content {
  background-color: #1f2937 !important; 
  color: white;
}

.custom-modal .ant-modal-header {
  background-color: #1f2937 !important;
  border-bottom: 1px solid #2d3748; 
}

.custom-modal .ant-modal-title {
  color: white !important;
}

.custom-modal .ant-modal-footer {
  background-color: #1f2937 !important;
  border-top: 1px solid #2d3748;
}
